html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* biar mendorong footer ke bawah */
  display: flex;
  align-items: center;
  justify-content: center;
}
